/* Set the page's appearance to something more proffesional */
body {
  background-color: #EEE;
  font-family: Roboto, sans-serif;
}


/* Remove margins and padding from the list, add a background color, and a nice elegant shadow */
ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2196F3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Float the list items side by side */
ul.navBar li {float: left;}

/* Style the links inside the list items */
ul.navBar li a {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 16px;
  color: #EEE;

  /* Cool trick */
  color: transparent;
  text-shadow: 0 0 2px rgba(230,230,230,0.9);
}

/* Change background color of links on hover */
ul.navBar li a:hover {
  color: #FFF;

  /* Cool Trick */
  text-shadow: none;
}

/* Add a line under the list items */
ul.navBar li a::before {
  content:'';
  width: 0;
  height: 2px;
  background: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease-out;
}

/* Change background color of links on hover */
ul.navBar li a:hover::before {
  width: 100%;
}
